<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网上选课</title>
    {% include '_static.html' %}
</head>

<body>
    <div>
        <div class="header">
            <div class="header-main">
                <div>
                    <a href="/" style="color: black;text-decoration: none;">网上选课</a>
                </div>
                <div style="flex:1"></div>
                <div>
                    {% include '_userinfo.html' %}
                </div>
            </div>
        </div>
        <div style="width:60%;margin:0px auto;margin-top: 30px;">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</body>

</html>
