<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>学生登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->

    <link rel="stylesheet" href="/static/css/supersized.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="page-container" style="background-color: black;">
        <div class="main_box">
            <div class="login_box">
                <div class="login_logo">
                    <p style="font-size: 40px;">登录</p>
                </div>

                <div class="login_form">
                    <form action="index.html" id="login_form" method="post">
                        <div class="form-group" style="margin-bottom: 40px">
                            <label for="username" class="t">工号：</label>
                            <input id="email" value="" name="username" type="text" class="form-control x319 in" autocomplete="off">
                        </div>
                        <div class="form-group" style="margin-bottom: 15%">
                            <label for="j_password" class="t">密　码：</label>
                            <input id="password" value="" name="password" type="password" class="password form-control x319 in">
                        </div>
                        <div class="form-group space">
                            <label class="t"></label>　　　
                            <button type="submit" id="submit_btn" class="btn btn-primary btn-lg">&nbsp;登&nbsp;录&nbsp </button>
                            <input type="reset" value="&nbsp;重&nbsp;置&nbsp;" class="btn btn-default btn-lg">
                        </div>
                    </form>
                </div>
            </div>
            <div class="bottom">Copyright &copy; 2019 - 2020 <a href="#">选课系统</a></div>
        </div>
    </div>

    <!-- Javascript -->

    <ul id="supersized" class="quality" style="visibility: visible;">
        <li class="slide-0 activeslide" style="visibility: visible; opacity: 1;">
            <a target="_blank"><img src="/static/images/backgrounds/1.jpg" style="width: 100%; height: 100%;"></a></li>
    </ul>
    <script>
        $("#captcha_img").click(function() {
            $.get("/getcode/", function(result) {
                $("#captcha_img").attr('src', "/getcode/");
            })
        });
        $("form").submit(function(e) {
            event.preventDefault();
            username = $("input[name='username']").val().trim();
            passwd = $("input[name='password']").val().trim();

            if (username != "" && passwd != "") {
                $.post("/login/", {
                    username: username,
                    password: passwd,
                }, function(data) {
                    if (data == "1") {
                        alert("账号或者密码错误！请重新输入!")
                    } else if (data == "0") {
                        alert("登录成功！");
                        window.location.href = "/index/"
                    } else if (data == "2") {
                        alert("验证码错误！")
                    }
                })
            } else {
                alert("请输入账号密码！")
            }
        });
    </script>
</body>

</html>